openapi: 3.2.0
info:
  title: TheCocktailDB Filter Search API
  description: An open, crowd-sourced database of cocktails and drinks from around the world with a free API. Search cocktails by name, ingredient, category, glass type, or alcoholic content. Includes detailed recipes, measurements, and images.
  version: '1.0'
  contact:
    url: https://www.thecocktaildb.com/
  x-generated-from: documentation
servers:
- url: https://www.thecocktaildb.com/api/json/v1/1
  description: Production API server (free tier with API key 1)
security: []
tags:
- name: Search
  description: Search for cocktails and ingredients
paths:
  /search.php:
    get:
      operationId: searchCocktailsByName
      summary: TheCocktailDB Search Cocktails by Name or First Letter
      description: Search for cocktails by name using the 's' parameter, or browse cocktails starting with a specific letter using the 'f' parameter. Use the 'i' parameter to search for an ingredient by name.
      tags:
      - Search
      parameters:
      - name: s
        in: query
        description: Cocktail name to search (e.g. margarita, mojito)
        required: false
        schema:
          type: string
          example: margarita
      - name: f
        in: query
        description: First letter to browse cocktails alphabetically (single letter a-z)
        required: false
        schema:
          type: string
          example: a
      - name: i
        in: query
        description: Ingredient name to search
        required: false
        schema:
          type: string
          example: vodka
      responses:
        '200':
          description: Successful response with cocktail or ingredient list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CocktailsResponse'
              examples:
                SearchCocktailsByName200Example:
                  summary: Default searchCocktailsByName 200 response
                  x-microcks-default: true
                  value:
                    drinks:
                    - idDrink: '11007'
                      strDrink: Margarita
                      strCategory: Ordinary Drink
                      strAlcoholic: Alcoholic
                      strGlass: Cocktail glass
                      strInstructions: Rub the rim of the glass with the lime slice to make the salt stick to it. Take care to moisten only the outer rim and sprinkle the salt on it. The salt should present to the lips of the imbiber and never mix into the cocktail. Shake the other ingredients with ice, then carefully pour into the glass.
                      strDrinkThumb: https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Drink:
      type: object
      description: Full cocktail details including ingredients, instructions, and media
      properties:
        idDrink:
          type: string
          description: Unique cocktail identifier
          example: '11007'
        strDrink:
          type: string
          description: Cocktail name
          example: Margarita
        strDrinkAlternate:
          type:
          - string
          - 'null'
          description: Alternate name for the cocktail
        strTags:
          type:
          - string
          - 'null'
          description: Comma-separated tags
        strVideo:
          type:
          - string
          - 'null'
          description: Video URL
        strCategory:
          type: string
          description: Category of drink
          example: Ordinary Drink
        strIBA:
          type:
          - string
          - 'null'
          description: IBA classification
        strAlcoholic:
          type: string
          description: Whether the drink is alcoholic
          enum:
          - Alcoholic
          - Non alcoholic
          - Optional alcohol
          example: Alcoholic
        strGlass:
          type: string
          description: Type of glass
          example: Cocktail glass
        strInstructions:
          type: string
          description: Preparation instructions in English
        strInstructionsES:
          type:
          - string
          - 'null'
          description: Preparation instructions in Spanish
        strInstructionsDE:
          type:
          - string
          - 'null'
          description: Preparation instructions in German
        strInstructionsFR:
          type:
          - string
          - 'null'
          description: Preparation instructions in French
        strInstructionsIT:
          type:
          - string
          - 'null'
          description: Preparation instructions in Italian
        strDrinkThumb:
          type: string
          description: Thumbnail image URL
          example: https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg
        strIngredient1:
          type:
          - string
          - 'null'
          description: First ingredient
        strIngredient2:
          type:
          - string
          - 'null'
          description: Second ingredient
        strIngredient3:
          type:
          - string
          - 'null'
          description: Third ingredient
        strMeasure1:
          type:
          - string
          - 'null'
          description: Measure for first ingredient
        strMeasure2:
          type:
          - string
          - 'null'
          description: Measure for second ingredient
        strMeasure3:
          type:
          - string
          - 'null'
          description: Measure for third ingredient
        strImageSource:
          type:
          - string
          - 'null'
          description: Image source URL
        strImageAttribution:
          type:
          - string
          - 'null'
          description: Image attribution
        strCreativeCommonsConfirmed:
          type:
          - string
          - 'null'
          description: Whether image is Creative Commons confirmed
        dateModified:
          type:
          - string
          - 'null'
          description: Date last modified
    CocktailsResponse:
      type: object
      description: Response containing a list of cocktails
      properties:
        drinks:
          type:
          - array
          - 'null'
          description: Array of cocktail objects; null if no results found
          items:
            $ref: '#/components/schemas/Drink'
